[bumpversion]
commit = True
tag = True
current_version = 0.0.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:file:setup.py]

[bumpversion:file:./src/ganpdfs/__init__.py]

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod
